version: '3.8'
services:
  whotel-mongodb:
    image: mongo:latest
    container_name: whotel-mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    networks:
      - hotel-network

  whotel-backend:
    build:
      context: ./backend-admin-main
      dockerfile: Dockerfile
    container_name: whotel-backend
    environment:
      - MONGO_URI=mongodb+srv://dr701050:1234@cluster0.ntbddof.mongodb.net/hotel-project?retryWrites=true&w=majority&appName=Cluster0
      - PORT=3000
      - FRONT_ORIGIN=http://kbutest.store
    networks:
      - hotel-network
    depends_on:
      - whotel-mongodb

  whotel-frontend:
    build:
      context: ./frontend-admin-main
      dockerfile: Dockerfile
    container_name: whotel-frontend
    ports:
      - "80:80" # 외부에서 도메인만으로 접속 가능
    networks:
      - hotel-network

volumes:
  mongodb_data:
networks:
  hotel-network:
    driver: bridge